* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

:root {
  --cor-primaria: #273A8E;
  --cor-secundaria: #FFFFFF;
}

body {
  --cor-background: #fafafa;
  --cor-foreground: #1f2023;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: var(--color-foreground);
  color: var(--color-foreground);
}

@media (prefers-color-scheme: dark) {
  body {
    --color-foreground: #1b1b1b;
    --cor-background: #fafafa;
  }
}
